
   .point{
    margin-right: 10px;
    margin-left: 110px;
    margin-top: 40px;
   }

  .detail{
    padding: 0px;
  }

.postProduct{
  width: 250px;
  min-width: 100px;
  height: 270px;
  border-radius: 10px;
  object-fit: cover;
}

.bahan{
  width: 1200px;
  flex:29;
  display: flex;
  flex-wrap: wrap;

 }

@media screen and (max-width:100px) {
  .bahan {
      flex-direction: row;
     
      margin-left: 20px;
  }
}